.MainLayout {
  min-width: 100%;
  display: grid;
  grid-template-areas: "sidebar content rightbar";
  grid-template-columns: min-content 1fr 100px;
}

.sidebar {
  grid-area: sidebar;
  padding: 32px;
  max-width: 284px;
}

.content {
  grid-area: content;
  justify-self: center;
  max-width: 1200px;
  width: 100%;
  padding: 32px;
}

.sidebar,
.rightbar {
  position: sticky;
  top: 0;
  height: 100vh;
}

.rightbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-area: rightbar;
}

.toolbar {
  height: 100%;
  width: 100%;
}
