@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "themes/purple";
@import "themes/darkGreen";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.app_redesigned {
  font: var(--font-m-redesigned);
  color: var(--text-redesigned);
  background: var(--bg-redesigned);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: var(--light-bg-redesigned);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent-redesigned);

  /* цвет плашки */
  border-radius: 10px;

  /* закругления плашки */
  border: 1px solid var(--accent-redesigned);

  /* padding вокруг плашки */
}

.app *::-webkit-scrollbar {
  width: 4px;
}

.app *::-webkit-scrollbar-track {
  background: var(--card-bg);
}

.app *::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);

  /* цвет плашки */
  border-radius: 10px;

  /* закругления плашки */
  border: 1px solid var(--primary-color);

  /* padding вокруг плашки */
}
