/* Reset styles */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a a:visited {
  text-decoration: none;
}

a a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

:root {
  --font-family-main: consolas, "Times New Roman", serif;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
  --main-transition: 0.4s ease;
  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;
}

:root,
.app.light {
  --bg-color: rgb(255 255 255 / 90%);
  --inverted-bg-color: #1e252b;
  --primary-color: #1e252b;
  --secondary-color: #ff6e30;
  --inverted-primary-color: rgb(255 255 255 / 90%);
  --inverted-secondary-color: #ff6e30;
}

:root,
.app.dark {
  --bg-color: #1e252b;
  --inverted-bg-color: rgb(255 255 255 / 90%);
  --primary-color: rgb(255 255 255 / 90%);
  --secondary-color: #ff6e30;
  --inverted-primary-color: #1e252b;
  --inverted-secondary-color: #ff6e30;
}

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
  transition: var(--main-transition);
}