.trigger {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.options {
  background: var(--dark-bg-redesigned);
  position: absolute;
  z-index: 5;
  border-radius: 12px;
  box-shadow: 4px 4px 16px var(--dark-bg-redesigned);
}

.item {
  color: var(--text-redesigned);
  padding: 12px 24px;
}

.active {
  background: var(--light-bg-redesigned);
}
