:root {
  --font-family-main: 'Raleway', sans-serif;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  // *Transition
  --main-transition: 0.4s ease;

  // *Sizes
  // Navbar
  --navbar-height: 50px;

  // Sidebar
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;

  // Z-indexes
  --modal-z-index: 10;

  // colors
  --overlay-color: rgb(0 0 0 / 40%);
  --red-light: #db0000;
  --red-dark: #c90000;
}
