.ArticleDetails {
  min-height: 100%;
}

.avatar {
  margin: 0 auto;
}

.title {
  margin-top: 20px;
}

.skeleton {
  margin-top: 15px;
}

.avatarWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.aricleInfo {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 12px;
}
