.Popups {
  position: relative;
}

.trigger {
  outline: none;
  background: none;
  border: none;
  margin: 0;
  cursor: pointer;
}

.bottomLeftDirectionOptions {
  top: 100%;
  right: 0;
}

.bottomRightDirectionOptions {
  top: 100%;
  left: 0;
}

.topLeftDirectionOptions {
  bottom: 100%;
  right: 0;
}

.topRightDirectionOptions {
  bottom: 100%;
  left: 0;
}

.active {
  background: var(--inverted-third-color);
  color: var(--inverted-primary-color);
}

.disabled {
  opacity: 0.4;
}
