.item {
  display: flex;
  align-items: center;
  color: var(--third-color);

  &:last-child {
    margin: 0;
  }
}

.icon {
  margin: 0 12px 0 0;
  fill: var(--third-color);
}

.collapsed {
  .link {
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
  }
}
