.Popups {
  position: relative;
}

.menu {
  border-radius: 18px;
  border: 1px solid var(--accent-redesigned);
  overflow: hidden;
}

.trigger {
  outline: none;
  background: none;
  border: none;
  margin: 0;
  cursor: pointer;
}

.bottomLeftDirectionOptions {
  top: 100%;
  right: 0;
}

.bottomRightDirectionOptions {
  top: 100%;
  left: 0;
}

.topLeftDirectionOptions {
  bottom: 100%;
  right: 0;
}

.topRightDirectionOptions {
  bottom: 100%;
  left: 0;
}

.disabled {
  opacity: 0.4;
}
