.title {
  color: var(--primary-color);
  font: var(--font-l);
}

.text {
  color: var(--primary-color);
  font: var(--font-m);
}

.secondary {
  .title {
    color: var(--secondary-color);
  }

  .text {
    color: var(--secondary-color);
  }
}

.error {
  .title {
    color: var(--red-light);
  }

  .text {
    color: var(--red-dark);
  }
}