.LIST {
  .img {
    width: 100%;
    max-height: 420px;
    object-fit: cover;
  }

  .textBlock {
  height: 72px;
  overflow: hidden;
  }
}

.PLATE {
  .img {
    width: 100%;
    max-height: 141px;
    object-fit: cover;
  }

}
