.app_dark_green {
  --bg-color: #02343f;
  --inverted-bg-color: #f4fafb;
  --primary-color: #f4fafb;
  --secondary-color: #01190f;
  --third-color: #02343f;
  --inverted-primary-color: #02343f;
  --inverted-secondary-color: #02343f;
  --inverted-third-color: #01190f;

  // Skeleton
  --skeleton-color: #03596d;
  --skeleton-shadow: #01252d;
}
