.app_dark_theme {
  --bg-color: #262223;
  --inverted-bg-color: #fbf4f6;
  --primary-color: #fbf4f6;
  --secondary-color: #fbf4f6;
  --third-color: #262223;
  --inverted-primary-color: #262223;
  --inverted-secondary-color: #262223;
  --inverted-third-color: #fbf4f6;

  // redesigned
  --dark-bg-redesigned: #090f11;
  --bg-redesigned: #0c1214;
  --light-bg-redesigned: #151c1f;
  --text-redesigned: #dbdbdb;
  --hint-redesigned: #555555;
  --cancel-redesigned: #d95757;
  --save-redesigned: #6cd98b;
  --icon-redesigned: #74a2b2;
  --accent-redesigned: #5ed3f3;

  // Skeleton
  --skeleton-color: #585252;
  --skeleton-shadow: #1a1919;

  // code
  --code-bg: #2f2c2d;

  // card
  --card-bg: #2f2c2d;

  // listBox
  --listbox-bg: #2f2c2d;
}
