.app_dark_theme {
  --bg-color: #262223;
  --inverted-bg-color: #fbf4f6;
  --primary-color: #fbf4f6;
  --secondary-color: #fbf4f6;
  --third-color: #262223;
  --inverted-primary-color: #262223;
  --inverted-secondary-color: #262223;
  --inverted-third-color: #fbf4f6;

  // Skeleton
  --skeleton-color: #585252;
  --skeleton-shadow: #1a1919;

  // code
  --code-bg: #2f2c2d;
}
