.app.dark {
  --bg-color: #1e252b;
  --inverted-bg-color: rgba(255, 255, 255, 0.9);

  --primary-color: rgba(255, 255, 255, 0.9);
  --secondary-color: #ff6e30;
  --inverted-primary-color: #1e252b;
  --inverted-secondary-color: #ff6e30;
}
