.app_light_theme {
  --bg-color: #fbf7f4;
  --inverted-bg-color: #2d2926;
  --primary-color: #2d2926;
  --secondary-color: #161313;
  --third-color: #fbf7f4;
  --inverted-primary-color: #fbf7f4;
  --inverted-secondary-color: #fbf7f4;
  --inverted-third-color: #161313;

  // Skeleton
  --skeleton-color: #fdfdfd;
  --skeleton-shadow: #d0cbc7;

  // code
  --code-bg: #fcfcfb;
}
