.app_light_theme {
  --bg-color: #fbf7f4;
  --inverted-bg-color: #2d2926;
  --primary-color: #2d2926;
  --secondary-color: #161313;
  --third-color: #fbf7f4;
  --inverted-primary-color: #fbf7f4;
  --inverted-secondary-color: #fbf7f4;
  --inverted-third-color: #161313;

  // redesigned
  --dark-bg-redesigned: #fff;
  --bg-redesigned: #eff5f6;
  --light-bg-redesigned: #e2eef1;
  --text-redesigned: #141c1f;
  --hint-redesigned: #adbcc0;
  --cancel-redesigned: #f77;
  --save-redesigned: #62de85;
  --icon-redesigned: #5ed3f3;
  --accent-redesigned: #00c8ff;

  // Skeleton
  --skeleton-color: #ededed;
  --skeleton-shadow: #d0cbc7;

  // code
  --code-bg: #fcfcfb;

  // card
  --card-bg: #fcfcfb;

  // listBox
  --listbox-bg: #fcfcfb;
}
