.app_purple_theme {
  --bg-color: #fbf7f4;
  --inverted-bg-color: #9000ff;
  --primary-color: #9000ff;
  --secondary-color: #0004d6;
  --third-color: #fbf7f4;
  --inverted-primary-color: #fbf7f4;
  --inverted-secondary-color: #fbf7f4;
  --inverted-third-color: #0004d6;

  // Skeleton
  --skeleton-color: #a839fc;
  --skeleton-shadow: #7100c7;

  // code
  --code-bg: #fefcfc;

  // card
  --card-bg: #fcfcfb;

  // listBox
  --listbox-bg: #fcfcfb;
}
