.menu {
  position: absolute;
  background: var(--dark-bg-redesigned);
  z-index: 3;
  flex-direction: column;
  display: flex;
}

.item {
  padding: 8px 10px;
  color: var(--text-redesigned);
  outline: none;
  border: none;
  background: none;
  width: 100%;
  cursor: pointer;
}

.active {
  background: var(--light-bg-redesigned);
}
