.pageWrapper {
  flex-grow: 1;
  padding: 2rem 1rem 2rem 3rem;
  height: calc(100vh - var(--navbar-height));
  width: calc(100% - var(--sidebar-width));
  overflow-y: auto;
}

.pageWrapperRedesigned {
  overflow-y: auto;
  height: 100%;
}

.trigger {
  height: 20px;
  width: 100%;
}
