.Button {
  cursor: pointer;
  color: var(--text-redesigned);
  padding: 8px 16px;
  transition: all 0.1s ease;

  &:hover {
    color: var(--accent-redesigned);
  }
}

// Variants
.clear {
  background: none;
  padding: 0;
  border: none;
  outline: none;
}

.filled {
  background: var(--light-bg-redesigned);
  border: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 32px;
}

.red {
  border: 1px solid var(--red-dark);
  color: var(--red-dark);
  background: none;
  border-radius: 32px;

  &:hover {
    border: 1px solid var(--red-light);
    color: var(--red-light);
  }
}

.disabled {
  opacity: 0.5;
}

.outline {
  border: 1px solid var(--icon-redesigned);
  color: var(--text-redesigned);
  background: none;
  border-radius: 32px;

  &:hover {
    border: 1px solid var(--accent-redesigned);
  }
}

.square {
  padding: 0;
}

.square.m {
  width: var(--font-line-m);
  height: var(--font-line-m);
  font-size: var(--font-size-m);
}

.square.l {
  width: var(--font-line-l);
  height: var(--font-line-l);
  font-size: var(--font-size-l);
}

.square.xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
  font-size: var(--font-size-xl);
}

.m {
  font-size: var(--font-size-m);
}

.l {
  font-size: var(--font-size-l);
}

.xl {
  font-size: var(--font-size-xl);
}

.fullWidth {
  width: 100%;
}

.addonLeft svg,
.addonRight svg {
  color: var(--hint-redesigned);
}

.addonLeft,
.addonRight {
  display: flex;
  align-items: center;
  gap: 8px;
}
