.Dropdown {
  position: relative;
}

.menu {
  position: absolute;
  background: var(--listbox-bg);
  z-index: 3;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  flex-direction: column;
  display: flex;
}

.button {
  outline: none;
  background: none;
  border: none;
  margin: 0;
  cursor: pointer;
}

.item {
  padding: 8px 10px;
  color: var(--primary-color);
  outline: none;
  border: none;
  background: none;
  width: 100%;
  cursor: pointer;
}

.active {
  background: var(--inverted-third-color);
  color: var(--inverted-primary-color);
}

.bottomLeftDirectionOptions {
  top: 100%;
  right: 0;
}

.bottomRightDirectionOptions {
  top: 100%;
  left: 0;
}

.topLeftDirectionOptions {
  bottom: 100%;
  right: 0;
}

.topRightDirectionOptions {
  bottom: 100%;
  left: 0;
}
