.Button {
  cursor: pointer;
  color: var(--inverted-primary-color);
  padding: 8px 16px;
}

.disabled {
  opacity: 0.5;
}

.clear,
.clearInverted {
  border: none;
  background: none;
  outline: none;
}

.clearInverted {
  color: var(--inverted-primary-color);
}

.outline {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  background: none;
}

.background {
  background: var(--bg-color);
  color: var(--primary-color);
  border: none;
}

.backgroundInverted {
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  border: none;
}

.square {
  padding: 0;
}

.square.size_m {
  width: var(--font-line-m);
  height: var(--font-line-m);
  font-size: var(--font-size-m);
}

.square.size_l {
  width: var(--font-line-l);
  height: var(--font-line-l);
  font-size: var(--font-size-l);
}

.square.size_xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
  font-size: var(--font-size-xl);
}

.size_m {
  font-size: var(--font-size-m);
}

.size_l {
  font-size: var(--font-size-l);
}

.size_xl {
  font-size: var(--font-size-xl);
}