.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px;
  transition: var(--main-transition);
}

.loginLink {
  margin-left: auto;
}

.links {
  margin-left: 8px;
}

.firstLink {
  margin: 0 16px;
}

.createArticle {
  margin-left: auto;
}

.actions {
  margin-left: 16px;
}
