.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  color: var(--inverted-primary-color);
}

.content {
  padding: 1.5rem;
  border-radius: 0.75rem;
  background-color: var(--bg-color);
  transition: 0.2s ease transform;
  transform: scale(0.9);
  max-width: 60%;
}

.opened {
  z-index: var(--modal-z-index);
  opacity: 1;
  pointer-events: all;

  .content {
    transform: scale(1);
  }
}

.isClosing {
  .content {
    transform: scale(0.9);
  }
}
