.InputWrapper {
  display: flex;
  align-items: center;
}

.input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: transparent;
  text-shadow: 0 0 0 var(--inverted-primary-color);

  &:focus {
    outline: none;
  }
}

.placeholder {
  margin: 0 6px 0 0;
}

.caretWrapper {
  flex-grow: 1;
  position: relative;
}

.caret {
  position: absolute;
  height: 3px;
  width: 9px;
  background: var(--inverted-primary-color);
  bottom: 0;
  left: 0;
  animation: blink 1s forwards infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.01;
  }

  100% {
    opacity: 1;
  }
}