.Icon {
  color: var(--icon-redesigned);
}

.button {
  margin: 0;
  bottom: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;

  &:hover .Icon {
    color: var(--accent-redesigned);
  }
}
