.CommentCard {
  padding: 10px;
  border: 1px solid var(--primary-color);
}

.header {
  display: flex;
  align-items: center;
}

.text {
  margin-top: 12px;
}

.username {
  margin-left: 8px;
}

.message {
  margin-top: 12px;
}

.loading {
  border: none;
}
