.title {
  color: var(--text-redesigned);
}

.text {
  color: var(--text-redesigned);
}

.accent {
  .title {
    color: var(--accent-redesigned);
  }

  .text {
    color: var(--accent-redesigned);
  }
}

.error {
  .title {
    color: var(--cancel-redesigned);
  }

  .text {
    color: var(--cancel-redesigned);
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.size_s {
  .title {
    font: var(--font-m-redesigned);
  }

  .text {
    font: var(--font-s-redesigned);
  }
}

.size_m {
  .title {
    font: var(--font-l-redesigned);
  }

  .text {
    font: var(--font-m-redesigned);
  }
}

.size_l {
  .title {
    font: var(--font-xl-redesigned);
  }

  .text {
    font: var(--font-l-redesigned);
  }
}

.bold {
  .title,
  .text {
    font-weight: 700;
  }
}
